// Font Family

/*
Home Feed: everything is `Helvetica Neue`... even Chinese?
  If I go to the source code, I see Roboto... 
*/

// Colors
/*
 Surrounding each photo: #222222
 Generic Background White: #FFFFFF
*/


$background_white: #FFFFFF;
$background_grey: #F7F8FA;
$light_grey: #71767A;
$blue: #1890ff;

/*
fonts
*/

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Raleway', sans-serif;
}