.index_page_grid{
  border: 1px;
  margin: 12px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;


  .indvPhoto { 
    .i_p_gradient {
      display: none;
    }
  }

  .indvPhoto:hover .i_p_gradient {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: $background_white;
    size: 1.5vh;

    .top {
      padding: 2% 0 20%;
      box-shadow: inset 0 75px 75px -75px #000000;
    }

    .bottom {
      padding: 20% 2% 2%;
      box-shadow: inset 0 -75px 75px -75px #000000;
    }
  }

} 