.login_signup_form_page {
  // background-color: #71767a; // border?
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F8FA;
    height: 100vh; // Do I want this?
}



.login_signup_form_box {
  background-color: $background_white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .session_form_inner {
    display: flex;
    align-items: center;
    flex-direction: column; // done so the top navLink don't get pushed to left
    width: 360px;


    .session_form {
      display: flex;
      flex-direction: column;

      .session_errors {
        margin-top: 8px;
      }
      
      li { 
        margin-top: 2px;
        color: red;
        list-style-type: none;
      }

      h2 {
        align-self: center;
        font-size: 24px;
        color: #525558;
      }
      h3 {
        font-size: 12px;
        color: #71767A; // Start putting these as variables?
      }

      h4 {
        align-self: center;
        text-align: center; // Needed to center text itself.
        font-size: 13.5px;
        color: #71767A;
      }
      label {
        font-size: 14px;
        color: #71767A; // Maybe make this a default text color?
      }
      input {
        flex-direction: row;
        width: 100%;
        background-color: #E8F0FE;
      }

      button {
        width: 100%;
        padding: 0px 10px;
        background-color: #34BF49;
        color: #F7F8FA; 
      }
    }

  };

}
