#nav_bar_outer {
  position: fixed;
  width: 100%;
  padding: 16px 64px;
  background-color: $background_white;
  // background-color: lightcoral;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  nav {
      font-size: 24px;
      color: $light_grey;
      margin: 0px 16px;
    }
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#nav_bar_outer.navScroll {
  // background-color: lightcoral;

box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px, rgba(0, 0, 0, 0.02) 0px 0px 2px 0px;
}


// Left Side
.nb_l {
  a {
    color: $light_grey;
    text-decoration: none;
    margin: 0px 16px;
  }
}
// Right Side
.nb_r {
  margin-right: 64px;
  a {
    color: #222222;
    text-decoration: none;
    font-size: 18px
  }
  .navk {
    font-weight: bold;
  }
  .navk.log{
    margin: 0px 24px;
  }
  .navk.sign{
    margin: 0px 16px;
    padding: 4px 16px;
    border: 1.5px;
    border-radius: 25px;
    border-style: solid;
  }
  div {
    margin: 0px 16px;
  }

}
