.nav_bar_outer {
  position: fixed;
  width: 100%;
  background-color: $background_white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nb_l {
    background-color: lightcoral;
  }

  .nb_r {
    background-color: lightseagreen;
  }
}