.photoCreate_Page {
  margin-top: 128px; // temporary
  // background-color: $background_grey;
}

.photoCreate_content {
  display: flex;
  background-color: $background_grey;
  justify-content: space-between;

  .pcc_Lt {

  }

  .pcc_Rt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 400px;
    // background-color: maroon;

    * { // all children
      width: 100%;
      margin: 5px; 
      // background-color: lightcoral;
    }

  }
    .fileInput {

    background-color: lightcoral;
    color: magenta;
  }
    #file-input {
      width: 0.01px;
      height: 0.01px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
}
