.photoCreate_Page {
  margin-top: 128px; // temporary
  // background-color: $background_grey;
}

.photoCreate_content {
  display: flex;
  background-color: $background_grey;
  justify-content: space-between;
  padding: 0 64px;

  .pcc_Lt {
    margin: 24px 0;
  }

  .fColCen { // flex column center
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pcc_Rt {
    margin: 24px 0;
    background-color: $background_white;

    width: 400px;
    // background-color: maroon;
  }
  .photo_form {

  // styles label to look like a button
    .file-input-button {
      align-self: center;
      width: 100px;
      text-align: center;
      font-size: 16px;
      background-color: $blue;
      color: $background_white;
      border-radius: 12.5px;
      border-style: none;
      margin: 16px 0px;
      padding: 8px 32px;
      cursor: pointer;
    }

    // hides standard file upload button
    .fileInput {
      width: 0.01px;
      height: 0.01px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    // styling the bottom part of other inputs
    .form_inputs {
      width: 375px;
      margin: 0 auto;
      .input {

        label {
          font-size: 14px;
          line-height: 1.5;
        }
        textarea {
          resize: vertical;
        }
      }
    }
  }
}
