// Universal Splash Page Styling
.splash_page{
  display: flex;
  flex-direction: column;
  color: #222222;

  .svg {
    padding-bottom: 24px;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
  }

  .swirl-svg {
    background-repeat: no-repeat;
  }
  .yellow-top {
  height: 500px;
  // height: 50vh;
  width: 100%;
  background-image: image-url("svg_splash/yellow_wave");
  background-size: cover;
  margin-bottom: -20vh; //TODO: hack margin to deal with sizing. NOT GREAT.
}
.purple-bottom {
  height: 305px;
  margin-bottom: -1%;
  background-image: image-url("svg_splash/purple_wave");
  background-position: right bottom;
}

  h2 {
    font-size: 18px;
  }

  .pseudoButton{ // link Class pseudo-button styling:
    text-decoration: none;
    font-size: 24px;
    background-color: #222222; // new variable?
    color: $background_white; // #FFFFFF ;
    border-radius: 25px;
    border-style: none;
    margin: 32px 0px 0px;
    padding: 8px 32px;
  } // All have a hover over effect. All but join become transparent
}
// Div row styling:
.sp_discover_row{
  // background-color: #668aa6; // Need to touch up the picture
  background-color: #f4e631;
  .sp_dscvr_cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      margin: 10px;
    }
  } 
}
.sp_dscvr_l {
  align-self: center;
  margin: 0 2vw 0 0;
  
  h1 {
    font-size: 48px;
    margin: 0px 0px 16px 80px;
  }
  p {
    font-size: 18px;
    margin: 0px 0px 16px 80px;
    line-height: 1.15;
  }

  .pseudoButton {
    margin-left: 80px;
  }
}

.sp_dscvr_r {
  background-image: image-url("discover");
  background-size: cover;
  width: 40vw;
  height: 40vh;
  margin: 0 2vw 0 1vw;
}

.sp_difference_row{
  // background-color: mediumaquamarine;
  background-color: rgba(255, 255, 255, 0);
  margin: 32px 0px 0px;
  padding: 16px 64px 0px;

  h1 {
    text-align: center;
    font-size: 36px;
    margin: 0px 0px 64px;
    font-weight: bold;
  }
}

.sp_d_3_cols {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 0px 16px 32px;

  .sp_d_col { // to target fontAwesome
    font-size: 36px;
    padding: 0px 16px 32px;
  }
  h3 {
    font-size: 24px;
    margin: 0px 0px 8px;
  }
  p {
    font-size: 18px;
  }
  .seedling {
    background-image: image-url("svg_splash/leaf");
  }
  
  .penpaper {
    background-image: image-url("svg_splash/penpaper.svg");
  }
  .graph {
    background-image: image-url("svg_splash/graph.svg");
  }
}

.sp_editors_choice_row{
  text-align: center;
  
  .headpic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
  }
  .edchoice {
    background-image: image-url("editor_choice");
    background-size: cover;
    padding: 80px;
    height: 120px;
  }
  .edchoice-icon {
    background-image: image-url("svg_splash/editor_choice.svg");
    margin-left: 96px;
    padding: 48px;
    align-self: center;
  }

  h1 {
    margin-top: 0px;
    font-size: 64px;
    color: $background_white;
  }
  h2 {
    padding-top: 32px;
    margin-bottom: 16px;
  }
  .sp_ed_photos_ALL_rows {
    margin-top: 16px;
  }


}

.sp_ed_p_r { // May switch to flex-wrap if easy enough
  display: flex;
  justify-content: center;
  text-align: center;

  .picture {
    width: 30%;
    height: 25vh;
    margin: 1.5% 1.5% 1.5% 1.5%;
    // display: flex;
    // justify-content: flex-end;
    // align-content: flex-end;
    position: relative;
  }
  .caption {
    opacity: 0;
    height: 100%;
    width: 100%;
    color: white;
    position: static;
  }

  .picture:hover {
    box-shadow: inset 0 -75px 75px -75px #000000;
  }

  .caption:hover {
    opacity: 1;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0.25em;
    right: 0.5em;
  }

  .p1_1 {
    background-image: image-url("ed_6_pics/DSC_0053_e1");
    background-size: cover;

  }
  .p2_1 {
    background-image: image-url("ed_6_pics/DSC_0059_e1_kc");
    background-size: cover;
  }
  .p3_1 {
    background-image: image-url("ed_6_pics/DSC_0035_e1");
    background-size: cover;
  }
  .p1_2 {
    background-image: image-url("ed_6_pics/DSC_0025_e1");
    background-size: cover;
  }
  .p2_2 {
    background-image: image-url("ed_6_pics/DSC_0018_e2");
    background-size: cover;
  }
  .p3_2 {
    background-image: image-url("ed_6_pics/DSC_0138_kc");
    background-size: cover;
  }

}

.sp_join_row{ // COLORS ARE CORRECT HERE. DO NOT EDIT YET.
  background-color: #45457C;
  color: $background_white;
  text-align: center;
  padding: 64px;

  h1 {
    font-size: 36px; // one other 
    line-height: 40px;
    margin-bottom: 16px;
  }
  h2 {
    margin-bottom: 32px;
    font-style: none;
  }
  .pseudoButton {
    background-color: $background_white;
    color: #45457C;
  }

  .pseudoButton:hover {
    color: #1890ff;
  }

}

.sp_dscvr_l>.pseudoButton:hover, .sp_editors_choice_row>.pseudoButton:hover {
  background-color: rgba(0,0,0,0.65);
}

