.userShowPage {
  display: flex;
  flex-direction: column;
  // align-content: center;
  // justify-content: center;
  background-color: $background_white;

  .user_back_img {
    background-color: $background_white;
    min-height: 250px;
    width: 100%;

    border-bottom: 1.5px solid rgb(215, 216, 219);
  }
  .user_prof_img {
    // display: none;
    align-self: center;
    height: 128px;
    width: 128px;
    margin: -64px 0 0;
    border-radius: 50%;
    background-color: $light_grey;
    // Replace with background image temporarily
  }

  .setting_link {
    background-color: #0099e5;
    color: $background_white;
    width: 60px;
    letter-spacing: 0.5px;
    margin-left: auto;
    margin-right: 2.5vw;
    margin-top: -58px;
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
  }
  .setting_link:hover {
    background-color: #00aaff;
    cursor: pointer;
  }

  h2 {
    text-align: center;
    margin: 32px 0 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing:1px;
  }

  .user_TODO_links {
    width: 100%;
    align-self: center;
    text-align: center; // TEMPORARY UNTIL WE GET MORE links
    margin: 16px 0;
    // background-color: mediumaquamarine;
  }
  .user_photos {
    align-self: center;
    width: calc(100vw - 30px);
    padding: 15px;
    // min-height: 750px;
    margin-bottom: auto;
    background-color: $background_grey;
  }

}